/*Menu*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

#logo{
    height: 100px;
    width: 100px;
}

#borde_logo{
    background-image: url('/images/header_image.jpg');
    height: 100px;
}

ul{
    padding-left: 0;    
}

.nav-menu-item{
    list-style: none;
    float: left;
    padding: 20px;
    background-color: #515050;
    width: 180px;
}

.nav-menu-link{
    text-decoration: none;
    display: block;
    color: white;
}

/*Contenido*/

.quienessomos{
    text-align: center;
}

h1{
    font-size: 50px;
}

.article{
    margin: 40px 40px 40px 40px;
}

.image{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}